# History files
*.csv
*.txt
*.RData
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
